html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;  
    padding: 4vmin;
}

body { 
    background-color: #f4bb8c; 
    font-family: 'Poppins', 'Questrial', 'Alata', 'Open Sans';
    height: 100%;
}
.pinto {
    display: none;
}

#telaInicial {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;
    width: 100%;
}

#telaInicial .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    width: 50vmin;
}

#telaInicial .title {
    width: 100rem;
    max-width: 500px;
    line-height: 1.2;
}

.logo1 {
    width: 50vmin;
}

.logo2 {
    width: 25vmin;
    margin-bottom: 2vmin;
    transition: all 0.3 ease-in-out;

    &:hover {
        scale: 1.05;
    }
    
}

.logo3 {
    width: 100%
}

#telaInicial .creditos {
    transition: all 0.2s ease-in;
    width: 100%;
    max-width: 800px;
    height: auto;
}

#telaInicial .creditos .left h2 {
    background-color: #6e8f7c;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 70vh;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: calc(18px + 1.5vw);
    color: #feefd8;
    font-family: 'Questrial';
    font-weight: 200;
    margin: 0;
}

#telaInicial .creditos .right .topp p {
    color: #f4bb8c;
    width: 100%;
    text-align: center;
    font-family: 'poppins';
    font-weight: 700;
    font-size: calc(20px + 2vw);
    margin: 0;
}

#telaInicial .creditos .right .topp {
    height: 60vh;
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#telaInicial .creditos .right {
    background-color: #a86255;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    max-width: 700px;
}

#telaInicial .creditos .right .bottom {
    background-color: #feefd8;
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#telaInicial .creditos .right .bottom p {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    color: #3b3838;
    font-family: 'Alata';
}

.fa-circle {
    font-size: calc(8px + 0.5vw);
    color: #7e493e;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.buttons button {
    width: 50vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 7vmin;
    background-color: #6e8f7c;
    font-weight: bold;
    border: none;
    color: #feefd8;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}   

.buttons button:hover {
    scale: 1.05;
}

.recorde {
    margin-top: 20px;
    width: 80vw;
    font-size: 3vmin;
    color: #a86255;
    font-family: 'Questrial';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vmin;
    padding: 1vmin 0;
    background-color: #feefd8;
}

.recorde p {
    width: 100%;
}

.buttons {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50vmin;
    background-color: #a86255;
}

.white_bg {
    width: 100%;
    display: flex;
    justify-content: flex-start;    
    align-items: end;
    height: 45vmin;
    background-color: #feefd8;
}

.slide .left {
    background-color: #a86255;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vmin;
    height: 50vmin;
    width: 40%;
}

#writer-description {
    width: 100%;
    height: 50vmin;
    background-color: #feefd8;
    overflow: visible;
    color: #3b3838;
    font-family: 'Alata';
    font-size: 3vmin;
    overflow-y: auto;
    margin: 0;
    padding: 3vmin;
    box-sizing: border-box;
}

.slide .right {
    background-color: #feefd8;
}

.slide .info {
    width: max-content;
    max-width: 34vmin;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    height: 40vmin;
    line-height: normal;
}

.slide .info h3 {
    font-size: 3vmin;
    margin: 0;
    font-family: 'poppins';
    color: #feefd8;
    line-height: normal;
}

.slide .info p {
    color: #feefd8;
    font-size: 2vmin;
    font-weight: bold;
}

#writer-img {
    width: 100%;
    height: auto; 
}

.escritores {
    height: auto;
    min-height: 50vmin;
    max-width: 100vmin;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel .bottom h2 {
    background-color: #6e8f7c;
    height: auto;
    padding: 1.5vmin 0;
    width: 100%;
    margin: 0;
    font-family: 'questrial';
    font-size: 3.6vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #feefd8;
    font-weight: lighter;
}

#opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

}

#opcoes li { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    text-align: center; 
    font-size: calc(16px + 1vw);
    font-weight: 800;
    background-color: #6e8f7c; 
    color: #feefd8;
    font-family: 'poppins';
    width: 100%;
    padding: 20px 0px;
    max-width: 480px;
    height: auto;
    transition: scale 0.3s ease;
}

#opcoes li:hover {
    scale: 1.05;
}

.correta { 
    border: 5px solid green; 
}

.errada { 
    color: red; 
    font-weight: bold; 
    border: 2px solid red; 
    background-color: #f8d4d4; 
}

.indicators {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 2vmin;
    height: 2vmin;
    margin: 5px;
    background-color: #7e493e;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #422620;
}

#telaExplicacao, #telaQuiz, #telaTempoEsgotado, #creditos, #difficulty, #estatisticas, #menuBack { display: none; }

#estatisticas {
    background-color: #00000079;
    position: absolute;
    z-index: 9999;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    & h2 {
        color: #feefd8;
        font-weight: 300;
        font-size: 4.5vmin;
        font-family: 'Alata';
        text-align: center;
        margin: 0;
        text-align: auto;
    }

    & p {
        color: #feefd8;
        font-size: 5vmin;
        font-family: 'poppins';
        font-weight: 700;
    }

    & span {
        color: #653931;
        font-size: 5vmin; 
        font-weight: 500;
        font-family: 'Alata';
    }

    & button {
        color: #3b3838;
        background-color: transparent;
        border: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vmin;
        width: 6vmin;
        height: 6vmin;
        padding: 0;
        transition: all 0.1s ease-in-out;
        &:hover {
            scale: 1.3;
        }
    }
}

#estatisticas #rotate {
    
    &:hover {
        scale: 1.1;
    }
}

@keyframes rotate-an {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#estatisticas .content .top {
    background-color: #6e8f7c;
    height: 10vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1vmin;
}

.est {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vmin;
}

#estatisticas .content {
    background-color: #a86255;
    max-width: 100vmin;
    width: 80%;
    height: fit-content;
}

#estatisticas .content .down {
    box-sizing: border-box;
    padding: 2vmin;
}

.timer { 
    font-size: calc(12px + 0.5vw); 
    font-weight: bold; 
}

@keyframes blinking {
    0% { color: rgb(126, 73, 62, 0.8); scale: 1; }
    50% { color: red; scale: 1.025; }
    100% { color: rgb(126, 73, 62, 0.8); scale: 1; }
}


.select {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000079;
    z-index: 99;
    transform: translateY(-100%);
    display: none; /* Oculta até ser ativada */
    

    & button {
        border: none;
        font-family: 'poppins';
        color: #feefd8;
        text-align: center;
    }
}

.select.ativa1{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown2 1s ease-in-out forwards;
}

@keyframes slideDown2 {
    0% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.sele {
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    max-width: 560px;
    min-width: 255px;
    height: 340px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #7e493e;
}

.startQuizOption {
    max-width: 500px;
    background-color: #6e8f7c;
    width: 100%;
    height: 75px;
    font-size: 35px;
    font-weight: 600;
    transition: font-size 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:hover {
        font-size: 36px;
        background-color: #5a7565;
    }
}

.difficultyOption {
    background-color: #4f6d5c;
    font-size: 30px;
    font-weight: 600;
    transition: font-size 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:hover {
        font-size: 36px;
        background-color: #476152;
    }
}

.difficulty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
    width: 100%;
    height: 75px;
    
}

#telaQuiz {
    margin-top: 4vmin;
    flex-direction: column;
    gap: 2vmin;
}

#telaQuiz .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vidas {
    height: 100%;
    font-size: 200%;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: end;
    color: crimson;
}

#telaQuiz .bottom .left .question .disclaimer {
    background-color: #6e8f7c;
    height: auto;
    padding: 15px 0;
    color: #feefd8;
    font-size: calc(14px + 0.8vw);
    text-align: center;
    font-weight: 500;
    font-family: 'Alata';
}

#telaQuiz .bottom .left {
    width: 90%;
    max-width: 800px;
    height: auto;
}

#telaQuiz .bottom .left .question .pergunta h1 {
    background-color: #a86255;
    color: #feefd8;
    font-size: calc(16px + 1.2vw);
    font-family: 'poppins';
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    min-height: 180px;
    margin: 0;
}

#documentation {
    flex-direction: column;
    background-color: #a86255;
    margin: 0;
}

#time {
    color: #f4bb8c;
    font-family: 'poppins';
    background-color: #7e493e;
    width: fit-content;
    padding: 0 20px;
    font-size: calc(16px + 1vw);
    font-weight: 700;
    margin: 0;
}

.timer {
    color: #7e493e;
    font-family: 'Open Sans';
    margin: 0;
    font-size: calc(20px + 2vw);
}

#telaQuiz .bottom .left .left-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

#rp {
    color: #3b3838;
    display: flex;
    font-family: 'poppins';
    font-weight: 600;
    height: fit-content;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #feefd8;
    
    width: 100%;
    max-width: 400px;
    font-size: calc(14px + 0.8vw);
}

#rp p {
    margin: 0;
}

#respostasCorretas {
    font-size: calc(20px + 2vw);
}

#telaQuiz .bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#telaQuiz .bottom .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

ul, ol {
    padding: 0;
    margin: 0;
}

#telaExplicacao {
    justify-content: space-between;
    gap: 2vmin;
    height: 90vh;
    width: 100%;
}

#telaExplicacao .left .bg {
    background-image: url('src/download.svg');
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center center;
    height: 100%;
    background-size: 120px;
}

#telaExplicacao p {
    text-align: center;
}

#telaExplicacao .left {
    background-color: #653931;
    width: 100%;
    width: 55vmin;
    padding-top: 30px;
    overflow-y: auto;
}

#telaExplicacao .left h2 {
    font-size: calc(18px + 1.5vw);
    height: auto;
    padding: 15px 0;
    text-align: center;
    color: #feefd8;
    margin: 0;
    line-height: normal;
}

#telaExplicacao .left h3 {
    color: #f4bb8c;
    text-align: center;
    margin: 0;
}

#telaExplicacao .left p {
    color: #feefd8;
    font-size: calc(14px + 0.5vw);
    font-weight: 600;
    margin: 15px;
    padding: 0 20px;
}

#telaExplicacao .center {
    background-color: #7e493e;
    width: 100%;
    width: 55vmin;
    padding-top: 30px;
    overflow-y: auto;
}

#telaExplicacao .center h3 {
    font-size: calc(18px + 1.5vw);
    height: auto;
    padding: 15px 0;
    text-align: center;
    color: #feefd8;
    margin: 0;
}

#telaExplicacao .center p {
    color: #feefd8;
    font-size: calc(14px + 0.5vw);
    font-weight: 600;
    margin: 15px;
    padding: 0 20px;
    z-index: 9999;
}
#telaExplicacao .right {
    width: 100%;
    width: 55vmin;
}

#telaExplicacao .right .top {
    background-color: #7e493e;
    display: flex;
}

#telaExplicacao .right .top p {
    background-color: #3b3838;
    font-weight: 700;
    font-size: calc(16px + 1vw);
    color: #feefd8;
    margin: 5px;
    text-align: center;
    width: auto;
    max-width: 200px;
    padding: 5px 10px;
}

#recordeAtual {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: calc(50px + 5vw);
    line-height: 13vmin;
    color: #3b3838;
}

#telaExplicacao .right .top .bg {
    background-color: #feefd8;
    width: 100%;
    height: auto;
    height: 30vmin;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#telaExplicacao .right .bottom button {
    background-color: #6e8f7c;
    width: 100%;
    height: auto;
    padding: 15px 0;
    color: #feefd8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: calc(16px + 1.2vw);
    font-weight: 600;
    margin-top: 20px;
    border: none;
    transition: scale 0.1s ease-in-out;
}

#telaExplicacao .right .bottom button:hover {
    scale: 1.05;
}

#telaExplicacao .right .bottom .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#telaExplicacao .right .bottom .title h1 {
    color: #7e493e;
    font-size: calc(18px + 1.5vw);
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

#telaExplicacao .right .bottom .title p {
    color: #7e493e;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feefd8;
    width: 100%;
    max-width: 400px;
    font-size: calc(12px + 0.5vw);
    height: auto;
    padding: 10px 0;
}

#telaTempoEsgotado {
    justify-content: space-between;
    height: 80vh;
    gap: 2vmin;
}

#telaTempoEsgotado .left h1{
    font-size: calc(24px + 2.5vw);
    margin: 0;  
    color: #feefd8;
    text-align: center;
}

#telaTempoEsgotado .left{
    background-color: #e96767;
    width: 125vmin;
}

#telaTempoEsgotado .right {
    width: 57vmin;
}

#telaTempoEsgotado .right .top {
    background-color: #7e493e;
    display: flex;
}

#telaTempoEsgotado .right .top p {
    background-color: #3b3838;
    font-weight: 700;
    font-size: calc(16px + 1vw);
    color: #feefd8;
    margin: 5px;
    text-align: center;
    width: auto;
    padding: 5px 10px;
}

#telaTempoEsgotado .right .top .bg {
    background-color: #feefd8;
    width: 100%;
    height: 30vmin;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#telaTempoEsgotado .right .bottom button {
    background-color: #6e8f7c;
    width: 100%;
    height: 1   0vmin;
    padding: 15px 0;
    color: #feefd8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: calc(16px + 1.2vw);
    font-weight: 600;
    margin-top: 20px;
    border: none;
    transition: scale 0.1s ease-in-out;
}

#telaTempoEsgotado .right .bottom button:hover {
    scale: 1.05;
}

#telaTempoEsgotado .right .bottom .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#telaTempoEsgotado .right .bottom .title h1 {
    color: #7e493e;
    font-size: calc(18px + 1.5vw);
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

#telaTempoEsgotado .right .bottom .title p {
    color: #7e493e;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feefd8;
    width: 100%;
    max-width: 400px;
    font-size: calc(12px + 0.5vw);
    height: auto;
    padding: 10px 0;
}

.fa-stopwatch{
    margin: 7vmin;
    color: rgba(254, 239, 216, 0.63);
    width: fit-content;
    text-align: center;
    font-size: calc(100px + 10vw);
    display: inline-block;
    animation-duration: 4.5s; 
}

.clock {
    height: 60%;
    display: flex;  
    animation: shake 4.5s ease-in;
}

.vinheta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6e8f7c;
    z-index: 9999;
    transform: translateY(-100%);
    display: none; /* Oculta até ser ativada */
}

.vinheta.ativa {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 5s ease-in-out forwards;
}

.vinheta1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e96767;
    
    z-index: 9999;
    transform: translateY(-100%);
    display: none; /* Oculta até ser ativada */
    & i {
        font-size: 30vmin;
        color: #feefd8;
    }
}

.fa-heart-crack.fa-fade{
    animation-duration: 0.33s;
}

.vinheta1.ativa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 1s ease-in-out forwards;
}

.vinheta2 {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e96767;
    z-index: 9999;
    transform: translateY(-100%);
    display: none; /* Oculta até ser ativada */

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.vinheta2.ativa2 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 1s ease-in-out forwards;
}

.vinheta3 {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6e8f7c;
    z-index: 999999999999999999;
    transform: translateY(-100%);
    display: none; /* Oculta até ser ativada */

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.vinheta3.ativa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.5s ease-in-out forwards;
}


  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  #timerr {
    position: absolute;
    color: #feefd8;
    font-weight: 700;
    font-size: 20vmin;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#telaTempoEsgotado .left .clock {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}

#telaInicial .creditos .right .bottom .leftt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#telaInicial .creditos .right .bottom .leftt a {
    font-size: 4vmin;
    margin-left: 10px;
}

.notificacao {
    position: fixed;
    top: -80%;
    left: 0; /* Posição à direita */
    width: 100vw;
    height: 15vmin; 
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
    z-index: 9999;
    pointer-events: none;
    transition: top 0.5s ease-in-out; /* Animação de deslizar */
}

.notificacao.visivel {
    top: 0; /* Posição final da notificação */
}

#noti {
    background-color: #e96767;
    width: 50vmin;
    height: 15vmin;
}

#noti-top {
    background-color: #feefd8;
    color: #3b3838;
    font-weight: 600;
    font-size: 3vmin;
    height: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noti p {
    font-size: 6vmin;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.version {
    color: #feefd8;
}

#efeitos-ativos {
    background-color: #422620;
}

#menu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* Adicione estes estilos */
.progress-container {
    width: 50vmin;
    margin: 20px auto;
    position: relative;
  }
  
  .progress-bar {
    padding: 3vmin;
    display: flex;
    align-items: center;
    height: 4vmin;
    background: #7f4a3e;
    background-clip: content-box;
    border-radius: 4vmin;
    overflow: hidden;
    
  }
  
  .progress {
    height: 4vmin;
    border-radius: 1vmin 0px 0px 1vmin;
    width: 0%;
    transition: all 0.3s ease;
    position: relative;
    background-color: #a76054;
    z-index: 1;
  }
  
  .level-divider {
    overflow: visible;
    z-index: 2;
    height: 4.4vmin;
    width: 4.4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a76054;
    scale: 1.25;
    border-radius: 50%;
    border: solid 0.4vmin #7f4a3e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    font-size: 2.5vmin;
    font-weight: 750;
    color: #feefd8;
    transition: left 0.3s ease;
  }


#bonus-ntnt {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bonus-content {
    display: none;
    transition: all 0.3s ease;
}
#bonus-window {
    /* height: 20vmin; */
    height: fit-content;
    width: 30vmin;
    position: absolute;
    font-family: 'poppins';
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: -100%;
    text-align: center;
    background-color: #feefd8; 
}

@keyframes slideDownn {
    0% {
      top: -15vmin;
    }
    20% {
      top: 3vmin;
    }
    100% {
      top: 1vmin;
    }
}

@keyframes slideUp {
    0% {
        top: 1vmin;
    }
    20% {
        top: 3vmin
    }
    100% {
        top: -50vmin;
    }
}

#bonus-header {
    background-color: #feefd8; 
    color: #424342; 
    padding: 1vmin;
    font-size: 4vmin;
    border: 0.7vmin solid #6e8f78;
    font-weight: 700;  
    cursor: pointer;
    transition: all 0.2s ease-in;
}
#bonus-values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center; 
    height: auto; 
    
}
.destacado {
    transition: all 0.2s ease;
    scale: 1.3;
}

#bonus-values p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 7vmin;
    font-weight: 600;
    font-size: 1.6vmin;
    color: #555; 
    
}
#bonus-text {
    font-size: 1.5vmin;
    display: none;
    font-weight: 600;
    color: #555;
}
#down-details {
    background-color: #6e8f7c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.detail1 {
    width: 100%;
    height: 1vmin;
    background-color: #536f5c;
    display: inline-block;
}
.detail2 {
    width: 100%;
    height: 1vmin;
    background-color: #6e8f78;
    display: inline-block;
}

#bonus-nt {
    background-color: #feefd8; 
    color: #424342; 
    padding: 1vmin;
    font-size: 4vmin;
    border: 0.7vmin solid #6e8f78;
    font-weight: 700; 
    width: 30vmin; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.99);
    pointer-events: none;
    display: none;
    mask-image: none;
    -webkit-mask-image: none;
    z-index: 999;
}

#event-ntnt {
    text-align: center;
    & h3 {
        color: #3b3838;
        font-size: 5vmin;
        margin: 0;
        line-height: 5vmin;
    }

    & p {
        color: #3b3838;
        font-size: 2vmin;
        font-weight: 600;
        margin: 0;
    }
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feefd8;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    gap: 10px;
    

    & hr {
        width: 4vmin;
        color: #3b3838;
        border-color: #3b3838;
    }

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Slides de erros */
#telaErros {
    background-color: #653931;
    display: none;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: 1000;
    grid-template-columns: 1fr 20fr 1fr;
}

#slideErrosContainer {
    
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    
}


.slide-erro {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    grid-row: 1;
    grid-column: 1;
    

    

    & h3 {
        margin: 0;
        font-family: 'poppins';
        font-size: 6vmin;
        text-align: center;
        color: #feefd8;
    }

    & p {
        color: #feefd8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 2.5vmin;
        font-weight: 600;
        
    }

    & button {
        width: 24vmin;
        height: 5vmin;
        border-radius: 1.5vmin;
        border: none;
        margin-bottom: 1vmin;
        font-size: 2vmin;
        font-weight: 600;
        color: #653931;
        background-color: #feefd8;
        font-family: 'poppins';
    }
}

.slide-erro.ativo {
    opacity: 1;
    z-index: 2;
}

.slide-erro.anterior {    
    opacity: 1;
    z-index: 1;
}

.erro-card {
    background: #653931;
    background-image: url(src/download.svg);
    background-repeat: no-repeat;
    background-size: 12vmin;
    background-position: center center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    height: 8vmin;
    font-weight: 600;
    font-size: 5vmin;
    width: 100%;
    background-color: #7e493e;
    color: #653931;
    border: none;
}

.btn-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}




/* Tela cheia */
#telaErrosCompleto {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff9f0;
    z-index: 1001;
}

#telaErrosCompleto .top {
    margin-top: 1vmin;
    display: flex;
    justify-content: space-between;

    & p {
        font-size: 4vmin;
        margin: 0;
    }

    & button {
        font-size: 4vmin;
        margin-right: 1vmin;
        transition: all 0.3s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            scale: 1.1;
        }
    }
}

#erroCompletoCategoria {
    text-align: center;
    color: #3b3838;
    font-size: 10vmin;
    margin: 0;
}

#erroCompletoPergunta {
    max-width: 60%;
    font-size: 4vmin;
    margin: 0;
    width: 100%;
    color: #fff9f0;
    font-weight: 600;
    background-color: #6e8f7c;
}

#errocp {
    display: flex;
    justify-content: center;
}

#erroCompletoExplicacao {
    max-width: 80%;
    font-size: 4vmin;
    margin: 0;
    margin-top: 5vmin;
    font-weight: 600;
    width: 100%;
    color: #3b3838;
    
}

#erroce {
    display: flex;
    justify-content: center;
}

.nav-erro-completo {
    position: fixed;
    width: 6vmin;
    height: 14vmin;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    
    color: #fff9f0;
}

.nav-erro-completo.anterior {
    left: 0;
    background-color: #6e8f7c;
    font-size: 6vmin;
}

.nav-erro-completo.proximo {
    right: 0;
    background-color: #6e8f7c;
    font-size: 6vmin;
}

#contadorErros {
    display: none;
}

#contadorErrosCompleto {
    text-align: center;
    width: 100vw;
    font-size: 5vmin;
    font-weight: 600;
    font-family: 'poppins';
    position: fixed;
    bottom: 0;
    left: 0;
    color: #3b3838;
}

#menuBack {
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.68);
}

#menuBack .content {
    background-color: #feefd8;
    width: 85vmin;
    height: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

#menuBack .content header {
    padding: 1vmin 2vmin;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #6e8f7c;

    & p {
        color: #4f6d5c;
        margin: 0;
        font-size: 5vmin;
        font-weight: 700;
    }

    & button {
        padding: 0;
        width: 7vmin;
        height: 7vmin;
        border: none;
        font-size: 5vmin;
        background: none;
        color: #3b3838;
        cursor: pointer;

        &:hover {
            scale: 1.05;
        }
    }
}

#menuBack .content .top {
    padding: 0 2vmin;
    & p {
        color: #3b3838;
        font-family: 'alata';
        margin: 0;
        font-size: 5vmin;
        font-weight: 600;
        letter-spacing: 0.4vmin;
    }

}

#menuBack .content .bottom {
    display: flex;
    justify-content: space-between;
    height: 7vmin;
    padding: 2vmin;
    color: #feefd8;

    & p {
        background-color: #e96767;
        height: fit-content;
        margin: 0;
        font-size: 2.5vmin;
        font-family: 'alata';
        letter-spacing: 0.1vmin;
        padding: 0 1.3vmin;
        font-weight: 400;
    }
    & button {
        background-color: #6e8f7c;
        color: #feefd8;
        width: 40vmin;
        font-size: 5.5vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-family: 'poppins';
        border: none;
        transition: all 0.1s ease-in-out;
        cursor: pointer;

        &:hover {
            scale: 1.03;
        }
    }
}

#full-changeUruguai {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 99999999;
    background: #fff; 
    opacity: 0;
}

@keyframes whiter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logoquiz {
    width: 90%;
    max-width: 800px;
    height: 9vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.retoCoins {
    height: 100%;
    display: none;
    justify-content: end;
    align-items: end;
}

.darkSouls3 {
    display: flex;
    align-items: center;
    padding: 0 0.5vmin;
    justify-content: space-between;
    height: 4vmin;
    min-width: 14vmin;
    background-color: #454444;
    color: #f9ebd4;
    font-size: 2vmin;
    font-weight: 700;
    

    & p {
        margin: 0;
        margin-left: 0.4vmin;
    }
}

.macaco {
    width: 3vmin;
    height: 3vmin;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5vmin;
    color: #f9ebd4;
    background-color: #ffbd59;
}





/* inventario */

#inventario .item {
    color: #f9ebd4;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #643830;

    & h4 {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    & i {
        font-size: 7vw;
        color: #f9ebd4;
    }
}

#inventario  {
    overflow-x: auto;
    & p {
        font-size: 1vw;
    }
}


/* loja */
#telaLoja {
    
    display: none;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
#telaLoja .top {
    display: grid;
    width: 100%;
    justify-content: center;  
}


#telaLoja .top .middleStoreBg {
    
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-left: 8vmin solid transparent;
    border-right: 8vmin solid transparent;
    border-bottom: 10vw solid #7c473d;
}



.pillarLeft {
    background-color: #7c473d;
    width: 3vmin;
    
}

.pillarRight {
    background-color: #7c473d;
    width: 3vmin;
}

#logoImage {
    width: 20%;
    transform: translateY(75%);
    
}

.middle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.store {
    min-height: 32vmin;
    background-color: #a76255;
    max-width: 80%;
    width: 100%;
    overflow-y: visible;
}

#loja {
    min-height: 32vmin;
    width: 100%;
    box-sizing: border-box;
    padding: 2vmin 3%;
    gap: 1vmin;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    & h3 {
        margin: 0;
        display: none;
    }
}

.item {
    color: #f9ebd4;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #643830;
}

#telaLoja .middlebottom .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottomBg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vmin;
    box-sizing: border-box;
    
    width: 100%;
    height: 14vmin;
    background: repeating-linear-gradient(
        90deg,
        #87ae98 0px,
        #87ae98 3vmin,
        #6e8f7c 3vmin,
        #6e8f7c 6vmin
    );       
}




.inventario {
    height: 100%;
    display: grid;
    padding: 1vmin;
    gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;

    & h3 {
        display: none;
    }
}

#inventarioLoja {
    height: 100%;
    display: none;
}

#dinheiro {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    color: #f9ebd4;
    font-family: 'Alata';
    font-size: 4vmin;
    letter-spacing: 0.3vmin;
}
.darkSouls2 {
    display: flex;
    background-color: #454444;
    min-width: 20vmin;
    gap: 1vmin;
    padding: 1vmin 2vmin;
    justify-content: space-between;
    align-items: center;

}

.macaca {
    width: 5vmin;
    height: 5vmin;
    font-size: 2.8vmin;
}

#lojaTittle {
    background-color: #454444;
    color: #f9ebd4;
    font-family: 'poppins';
    padding: 0 8vmin;
    font-size: clamp(4vw, 6vw, 32px);
    font-weight: 800;
    margin: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
        scale: 1.01;
        background-color: #313030;
    }
}

.priceStore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alata';
    gap: 1vmin;
    font-size: 1.5vw;
    font-weight: 700;
    margin: 0;

    & p {
        margin: 0;
    }
}

.outside {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vmin;
    & button {
        background-color: #6e8f7c;
        padding: 0 8vmin;
        font-weight: 800;
        font-size: 8vmin;
        color: #f9ebd4;
        font-family: 'poppins';
        border: none;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
            scale: 1.03;
            background-color: #5e7c6a; 
        }
    }
}

.linguado {
    
    width: 100%;
    font-size: 5vw;
    margin: 0;
    margin-top: 1vmin;

    & i {
      display: flex;
        justify-content: center;  
        margin: 0;
    }
}

.abapuru {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1vW;
}



.estroque {
    color: #454444;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    margin-top: 0.5vmin;
}

.estoque {
    background-color: #f9ebd4;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    font-family: 'Alata';
    font-weight: 600;
    width: 3vmin;
    height: 3vmin;
}

.botonePatone {
    width: 100%;
    height: 4vw;
    margin-top: 1vmin;
    background-color: #6e8f7c;
    border: none;
    color: #f9ebd4;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
        scale: 1.03;
        background-color: #5e7c6a; 
    }
}

#recarregarLojaBtn {
    background-color: #2196F3;
    color: white;
    margin: 10px;
    padding: 8px 15px;
}

.item.esgotado {
    background-color: #e0e0e0;
    opacity: 0.7;
    position: relative;
}



.item.esgotado h4,
.item.esgotado p {
    color: #666;
}

.item.esgotado button {
    background-color: #9e9e9e !important;
    cursor: not-allowed;
}

.item.limite-alcancado {
    background-color: #ffebee;
    border-color: #ff1744;
}

.item.limite-alcancado::after {
    content: "🚫";
    color: #ff1744;
}

#notificacoes {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background: #ff4444;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    margin-bottom: 10px;
    animation: slideIn 0.3s, fadeOut 0.5s 2.5s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.toast::before {
    content: "⚠️";
    font-size: 1.2em;
}

/* loja */







@keyframes shake {
    0% { transform: translateX(10px); }
    1% { transform: translateX(-10px); }
    5% { transform: translateX(10px); }
    10% { transform: translateX(-10px); }
    15% { transform: translateX(10px); }
    20% { transform: translateX(-10px); }
    25% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(0); }
    50% { transform: translateX(0); }
    60% { transform: translateX(0); }
    70% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

#full {
    background-color: rgba(0, 0, 0, 0.965);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 999;
    display: none;
}

#efeitos-ativos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.blurr:hover{
    border: none;

}

.evento-notificacao {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9998;
}














@media (max-width: 768px) {
    html { padding: 20px}
    body {
        overflow-x: hidden;
    }

    

    #bonus-window {
        scale: 1.5;
        transform: translateY(30%);
    }
    #telaInicial {
        flex-direction: column;
        justify-content: space-between;     
        height: 100%;

    }

    .slide {
        height: 20rem;
        width: 100%;
    }

    #writer-description {
        height: 100%;
        width: 100%;
    }

    .carousel .bottom h2 {
        width: 100%;
    }

    .slide .left {
        height: 19rem;
    }

    .buttons {
        margin-top: 20px;
        width: 100%;
    }
    
    .buttons button {
        width: 100%;
    }

    .buttons button:hover{
        scale: 1;
    }

    #telaInicial .content {
        order: 3;
        width: 100%;
    }

    #telaInicial .menu .buttons {
        width: 100%;
    }

    #telaInicial .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo1 {
        width: 20em;
    }
    .logo2 {
        width: 70%;
    
    }

    .creditos .right {
        height: 20em;
    }

    .information {
        height: 470px;
        display: block;
        order: 2;
    }
    
    .escritores {
        min-height: 0vmin;
    }

    #telaInicial .menu {
        align-items: center;
        height: 140px;
        width: 100%;
    }

    #telaInicial .creditos .right {
        height: 430px;
    }

    #telaInicial .creditos .left h2 {
        background-color: #6e8f7c;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        height: 430px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: calc(18px + 1.5vw);
        color: #feefd8;
        font-family: 'Questrial';
        font-weight: 200;
        margin: 0;
    }

    #telaInicial .menu .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #telaQuiz { 
        
        flex-direction: column;
    }

    #telaQuiz .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    #opcoes {
        width: 70vw;
    }

    #opcoes li {
        width: 90%;
    }
    #telaQuiz .bottom .left{
        width: 100%;
    }

    #telaQuiz .bottom .right {
        width: 100%;
    }

    #telaQuiz .title .logoquiz {
        flex-direction: column;
        height: fit-content;
    }

    .slide .info h3 {
        margin-top: 2px;
        line-height: 20.2px;
    }

    .slide .info p {
        font-size: calc(13px + 0.5vw);
    }
    #telaQuiz .title {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .darkSouls3 {
        scale: 1.4;
    }

    #vidas {
        height: fit-content;
        margin-top: 1vmin;
        justify-content: center;
        font-size: 170%;
    }

    #telaExplicacao {
        flex-direction: column;
        gap: 20px;
    }

    #telaExplicacao .left , #telaExplicacao .center, #telaExplicacao .right {
        max-width: none;
        width: 100%;
        height: 100%;
    }

    #telaExplicacao .right .bottom .title {
        display: none;
    }

    #telaExplicacao .left h3 {
        font-size: 1.5rem;
    }

    #telaExplicacao .left h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    #telaExplicacao .center h3 {
        font-size: 3rem;
        line-height: 2rem;
    }

    #rp {
        height: 100%;
        margin-top: 20px;
    }

    #telaQuiz .bottom .left .question .disclaimer {
        padding: 1px 0;
    }

    #telaQuiz .bottom .left .question .pergunta h1 {
        min-height: 100px;
    }

    #telaTempoEsgotado {
        flex-direction: column;
        gap: 20px;
    }

    #telaTempoEsgotado .left, #telaTempoEsgotado .right {
        width: 100%;
    }

    #telaTempoEsgotado .left .clock {
        display: flex;
        justify-content: center;
        scale: 0.8;
    }

    #telaTempoEsgotado .left {
        height: 100%;
    }

    #telaTempoEsgotado .right .bottom .title {
        display: none;
    }

    #telaTempoEsgotado .right .top .bg {
        height: 84%;
    }
    #telaTempoEsgotado .right .top {
        height: 60%;
    }

    .pinto {
        display: none;
    }

    #overlay {
        background: rgba(0, 0, 0, 0.8);
    }

    #telaErros {
        width: 100%;
    }

    .progress-container {
        width: 100%;
    }

    

}

@media (max-width: 550px) {
    #telaLoja {
        position: absolute;
        top: 20%;
    }
    .item {
        align-items: start;
        flex-direction: row;
        
    }

    #inventario {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        overflow-y: auto;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 1em;
        
    }

    #inventario .item {
        flex-direction: initial;
    }


    #telaLoja .middlebottom {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
    }
    
    #telaLoja .middlebottom .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    #telaLoja .middlebottom .middle .store {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
    }
    
    #loja {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        overflow-y: auto;
    }
}

@media (max-width: 380px) {
    html {
        height: 110%;
    }
}

@media (max-height: 570px) {
    #telaQuiz .bottom {
        height: 330px;
    }
    #telaQuiz .bottom .left .question .disclaimer p {
            margin: 0;
    }

    #telaQuiz .bottom .left .question .pergunta h1 {
        margin: 0;
        padding: 0 20px;
        min-height: 100px;
    }
    #opcoes {
        scale: 0.8;
        gap: 10px;
    }
    #estatisticas{
        height: 100vh;
    }

    #telaTempoEsgotado .right .bottom .title {
        display: none;
    }

    #telaTempoEsgotado .right .bottom button {
        font-size: calc(14px + 1vw);
    }

    #telaTempoEsgotado {
        height: 89vh;
    }

    #telaTempoEsgotado .right .top .bg {
        height: 40vmin;
    }
}
