body { 
    background-color: #f4bb8c; 
    font-family: 'Poppins', 'Questrial', 'Alata', 'Open Sans'; 
    padding: 8vmin; 
}
#telaInicial {
    /* background-color: #00000007; */
    display: flex;
    gap: 20vmin;
    width: 100%;
}

#telaInicial .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vmin;
    /* background-color: aqua; */
}

#telaInicial .title {
    width: 50vmin;
    line-height: 1.2vmin;
}

#telaInicial h1 {
    font-size: 9.5vmin;
    color: #6e8f7c;
    font-weight: 800;
}

#telaInicial .title p {
    font-size: 3.8vmin;
    color: #a86255;
    font-family: 'Questrial';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vmin;
    height: 8vmin;
    background-color: #feefd8;
}

.information {
    /* background-color: #f8d4d4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vmin;
    height: 60vmin;
}

#writer-img {
    width: 5vmin;
}

#telaQuiz .bottom {
    display: flex;
}

.buttons button {
    width: 50vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: 7vmin;
    background-color: #6e8f7c;
    font-weight: bold;
    border: none;
    color: #feefd8;
}
.buttons {
    /* background-color: #00ff6a; */
    height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slide {
    display: flex;
    justify-content: space-between;
    width: 80vmin;
    background-color: aqua;
}
.white_bg {
    width: 34vmin;
    height: 30vmin;
    background-color: #feefd8;
}
.slide .left {
    background-color: #a86255;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vmin;
    height: 58vmin;
    width: 34vmin;
}
#writer-description {
    width: 56vmin;
    height: 60vmin;
    background-color: #feefd8;
    color: #3b3838;
    font-family: 'Alata';
    font-size: 2.3vmin;
    margin: 0;
    padding: 2vmin;
}

.slide .info {
    width: 34vmin;
    height: 20vmin;
    line-height: 1vmin;
}

.slide .info h3 {
    font-size: 3.2vmin;
    margin: 0;
    font-family: 'poppins';
    color: #feefd8;
    line-height: normal;
}

.slide .info p {
    color: #feefd8;
    font-size: 2.4vmin;
    font-weight: bold;
}

#writer-img {
    width: 100%;
    height: 150%;
    position: relative;
    top: -50%;
}
.escritores {
    /* background-color: #00ff6a; */
    height: 50vmin;
    scale: 0.9;
}
.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carousel .bottom h2 {
    background-color: #6e8f7c;
    height: 9vmin;
    margin: 0;
    font-family: 'questrial';
    font-size: 4.1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #feefd8;
    font-weight: lighter;
}

#opcoes li { 
    cursor: pointer; 
    padding: 1vmin; 
    display: block; 
    font-size: 4vmin;
    text-align: center;
    font-weight: 800;
    margin: 2.5vmin;
    background-color: #6e8f7c; 
    color: #feefd8;
    font-family: 'poppins';
    width: 48vmin;
    height: 6vmin;
}
.correta { 
    color: green; 
    font-weight: bold; 
    border: 0.2vmin solid green; 
    background-color: #d4f8d4; 
}
.errada { 
    color: red; 
    font-weight: bold; 
    border: 0.2vmin solid red; 
    background-color: #f8d4d4; 
}

.indicators {
    text-align: center;
    width: 100%;
    margin-top: 1vmin;
    /* background-color: #bbff00; */
}

.dot {
    display: inline-block;
    width: 2vmin;
    height: 2vmin;
    margin: 0.5vmin;
    background-color: #7e493e;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #422620;
}

#telaExplicacao, #telaInicial, #telaQuiz, #telaTempoEsgotado, #creditos { display: none; }
.timer { font-size: 2vmin; font-weight: bold; }

@keyframes blinking {
    0% { color: red; }
    50% { color: black; }
    100% { color: red; }
}

#telaQuiz {
    flex-direction: column;
}

#telaQuiz .title h1 {
    font-size: 6vmin;
    color: #6e8f7c;
    margin: 0;
}

#telaQuiz .title p{
    background-color: #feefd8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3.8vmin;
    width: 30vmin;
    color: #a86255;
    font-family: 'Questrial';
    font-size: 2vmin;
}

#telaQuiz .bottom .left .question .disclaimer {
    background-color: #6e8f7c;
    height: 9vmin;
    color: #feefd8;
    font-size: 3vmin;
    text-align: center;
    font-weight: 500;
    font-family: 'Alata';
    

}

#telaQuiz .bottom .left {
    width: 80vmin;
    height: 50vmin;
}

#telaQuiz .bottom .left .question .pergunta h1 {
    background-color: #a86255;
    color: #feefd8;
    font-size: 5vmin;
    font-family: 'poppins';
    padding: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 18vmin;
    margin: 0;
}

#time {
    color: #f4bb8c;
    font-family: 'poppins';
    background-color: #7e493e;
    width: fit-content;
    padding: 0 2vmin 0 2vmin;
    font-size: 4vmin;
    font-weight: 700;
    margin-bottom: 0;
}
.timer {
    color: #7e493e;
    font-family: 'Open Sans';
    margin: 0;
    font-size: 8vmin;
}

#telaQuiz .bottom .left .left-bottom {
    display: flex;
    gap: 20vmin;
}

#rp {
    color: #3b3838;
    display: flex;
    font-family: 'poppins';
    font-weight: 600;
    margin: 0;
    justify-content: center;
    text-align: center;
    background-color: #feefd8;
    margin-top: 4vmin;
    width: 40vmin;
    font-size: 3vmin;
}

#rp p {
    margin: 0;
}
#respostasCorretas {
    font-size: 8vmin;
}